.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: #0b0f3a;
  color: white;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  .dashboard-cards {
    flex-direction: column;
  }

  .chart-card {
    padding: 15px;
  }
}